body {
    margin: 0;
    padding-top: 50px;
    min-height: 100vh; 
    background-color: #fff;  
}

.nav-bar {
    background-color: #000;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;   
    z-index: 999;
}

.nav-bar a {

    color: #fff;
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.nav-bar a:hover {
    
    color: #E3BAC6;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;     
    text-align: center;
    font-weight: 300;
    text-decoration: none;

}

.nav-bar a:active {
    color: #000;
}

.nav-bar li {
    display: inline;
}

.nav-bar ul {
    text-align: center;
}

#name-header {
    text-align: center;
    font-style: oblique;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing:0.1rem;
}

#tagline-header {
    text-align: center;
    margin-top: 10px;
    
}

#profile-pic {
    display: block;
    margin: 0 auto;
    border-radius: 15px 15px 15px 15px;
}

.bio {
    margin-top: 50px;
    background-color: #E3BAC6;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.bio:first-letter {
    
    font-weight: bold;
    font-size: 20px;
}

#footer {
position: relative;
left: 0;
bottom: 0;
width: 100%;
text-align: left;
font-size: 16px;
letter-spacing: 0rem;
}

/*END OF INDEX */



#contact-form {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #E3BAC6;
    box-sizing: border-box;
    position: relative;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    padding: 30px;
}


#form-container {
    width: 50%;
    margin-left: 150px;
    text-align: left;
}

#submit {
    text-align: center;
}


#form-label {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 50px;
}

input:focus {
    color: #E3BAC6;
    outline: none;
    border-color: #000;
}

textarea:focus {
    color: #E3BAC6;
    outline: none;
    border-color: #284B63;
}

#email-input {
    width: 177px;
}

#message-input {
    width: 230px;
}

.icons {
    text-align: center;
    margin-top: 75px;
    font-size: 25px;
    letter-spacing: 1rem;
}

.social-icon {
    color: #CED0CE;
    text-decoration: none;
}

.social-icon:hover {
    color: #353535;
}

/* END OF CONTACT FORM */

#main-container {
    background-color: #fff;
    overflow: hidden;
    margin: auto;
    width: 960px;
    height: 1060px;
    
}

body.projects {
    background-color: #000;
}

.images {
    float: left;
    margin: 20px;
    width: 960px;
    text-align: center;
    letter-spacing: 2rem;
}

#tic-tac-toe-screenshot {
    padding: 20px;
}

#tic-tac-toe-screenshot:hover {
    opacity: 50%;
}

#ocean {
    padding: 20px;
}

#ocean:hover {
    opacity: 50%;
}

#turtle {
    padding: 20px;
} 

#turtle:hover {
    opacity: 50%;
}

#mountain {
    padding: 20px;
}

#mountain:hover {
    opacity: 50%;
}

#sunset {
    padding: 20px;
}

#sunset:hover {
    opacity: 50%;
}

#flowers {
    padding: 20px;
}

#flowers:hover {
    opacity: 50%;
}

#projects-footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0rem;
    color: #fff;
    }

@media only screen and (max-device-width: 480px) {

    #main-container {
        width: 400px;
    }

    .images {
        
        width: 100%
    }
}


