* {
    padding: 0;
    margin: 0;
    padding-top: 5px;
    text-align: center;
  
}

body {
    background-color: #B3C5D7;
}

#title {
    color: #7392B7;
    text-align: center;
    font-weight: bold;
    font-size: 90px;
}

#main-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 325px;
    padding: 25px;
}

.boxes {
    border: 3px solid #899499;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: cell;
    color: #B0228C;
    
}

button {
    
    border-color: #8B9EB7;
    color: #7392B7;
    font-size: 20px;
}

button:active {
    background-color: #B0228C;
} 

#winning-message {
    color: #8B9EB7;
}

@media only screen and (max-device-width: 480px) {
    #title {
        font-size: 60px;
    }

    #winning-message {
        font-size: 25px;
    }

    button {
        font-size: 20px;
    }

}

